body {
  font-size: 2vw;
}

button {
  font-size:2vw;
  padding: 0.2rem 1rem;
  margin: 0.2rem;
}

#timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw;
}

table {
  border-collapse: collapse;
}

table tr, td, th {
  border: 1px solid black;
  padding: .2rem .2rem;
}

thead {
  background-color: gainsboro;
}

.active {
  -webkit-animation: blink 1s infinite;  /* Safari 4+ */
  -moz-animation:  blink 1s infinite;  /* Fx 5+ */
  -o-animation:  blink 1s infinite;  /* Opera 12+ */
  animation: blink 1s infinite;  /* IE 10+, Fx 29+ */
}

@keyframes blink {
  0% {background-color: white;}
  50% {background-color:  rgba(0, 0, 255, 0.308);}
  100% {background-color: white;}
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.current-timer {
  font-size: 10vw;
  color: blue;
}

.note {
  font-size: 1vw;
  color: gray
}